CompileFlags:
  Add: 
    - "-framework"
    - "CoreVideo"
    - "-framework"
    - "IOKit"
    - "-framework"
    - "Cocoa"
    - "-framework"
    - "GLUT"
    - "-framework"
    - "OpenGL"
    - "-Iraylib/src"
    - "libraylib.a"

